<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>

<body>
    
    <h6>Welcome <%= user.userName.replace(/\w/, c => c.toUpperCase()) %></h6>

    <div class="card container center timer">
        <h3 id="timerMode"></h3>
        <h3 id="time"></h3>
        <h4><% if (left >= 1) { %>
            <%= user.userName.replace(/\w/, c => c.toUpperCase()) %> has <%= left %> <%- left <= 1 ? 'task' : 'tasks' %> to do.
        <% } %>
        </h4>

        <span class='btn hoverable start'> Start Working </span>
    </div>

    </div>
    <div class="card container tasks">
        <h3 class="center">Todos</h3>
        <table class="striped">
            <thead>
                <tr>
                    <th>
                        Task
                    </th>

                    <th>
                        Date Created
                    </th>
                    <th>
                        Urgency
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for( let i=0; i < todos.length; i++ ) { %>
                    <% if (!todos[i].completed) { %>
                        <tr data-id="<%= todos[i]._id %>">
                            <td>
                                <span class="task">
                                    <%= todos[i].todo %>
                                </span>
                            </td>

                            <td>
                                <span>
                                    <%= new Date(todos[i].Date).toDateString() || new Date(todos[i].date).toDateString() %>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <% if(Math.ceil((new Date().getTime() - new Date(todos[i].Date).getTime()) / (1000*60*60*24) ) >= 5)  { %>
                                        Urgent!
                                    <% } %>
                                    
                                </span>
                            </td>
                            <td>
                                
                                <span class='btn hoverable del'> Delete </span>
                                <span class="btn hoverable complete">Completed</span>
                            </td>
                        </tr>
                    <% } %>
                    <% } %>
            </tbody>
        </table>
        <form class="row task-input" action="/todos/createTodo" method='POST'>
            <input class="col s8" type="text" placeholder="Enter Task" name='todoItem'>
            <button class="btn col s3" style="margin-left: 20px;" type="submit">Add Task</button>
        </form>
    </div>
    <div class="card container tasks">
        <table class="striped">
            <thead>
                <tr>
                    <th>
                        Completed Tasks
                    </th>
                    <th>
                        Total Time Taken (mins)
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for( let i=0; i < todos.length; i++ ) { %>
                    <% if (todos[i].completed) { %>
                        <tr data-id="<%= todos[i]._id %>">
                            <td>
                                <span class="task">
                                    <%= todos[i].todo %>
                                </span>
                            </td>
                            <td>
                                <%= todos[i].duration %>
                                <!-- Put total time taken for the task here -->
                            </td>
                            <td>
                                <span class='btn hoverable del'> Delete </span>
                            </td>
                        </tr>
                    <% } %>
                    <% } %>
            </tbody>
        </table>
    </div>
        <div class="container center logout"><a class="btn hoverable logout-btn col s8" href="/logout">Logout</a></div>
    <script src="js/main.js"></script>
</body>

</html>